<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-margin-left uk-navbar-left"
         uk-scrollspy="cls: uk-animation-fade; target: > ul > li; delay: 500; repeat: false">
        <ul class="uk-navbar-nav">
            <li><a href="/zsuli-index">Főoldal</a></li>
            <li class="uk-active"><a href="/zsuli-index/bemutatkozas">Bemutatkozás</a></li>
            <li><a href="/zsuli-index/szolgaltasok">Szolgáltatások</a></li>
            <li><a href="/zsuli-index/elerhetoseg">Elérhetőség</a></li>
        </ul>
    </div>
</nav>
<div class="uk-section uk-section-muted">
    <div class="uk-container">

        <h2 class="uk-text-center">Üdvözlöm</h2>

        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent uk-border-rounded uk-box-shadow-small"
                 src="/img/zsuli-sec/zsuli-main-photo.jpg" width="225" height"150" alt="Example image">
            <p>
                Mai világunkban, ahol nap mint nap születnek és újulnak meg a jogszabályok, igen könnyű a jog hálójában
                elveszni, így egy jogász hozzáértő segítsége az élet bármely területén hasznos lehet. <br>
                Munkám egyértelműen a küldetésem is egyben, hiszen mindig is fontosnak véltem segíteni másoknak,
                másokon. Örülök, hogy olyan szakmát bírok, amellyel ennek eleget tehetek.
            </p>
            <hr class="uk-divider-small">
            <p>
                Dr. Császi Zsüliet vagyok, 2012-ben végeztem a Szegedi Tudományegyetem Állam-, és Jogtudományi karán
                jogászként, „cum laude” minősítéssel. <br>
                Ügyvédjelölti időszakomat a Papp és Tóth Ügyvédi Irodánál töltöttem. Az itt eltöltött évek alatt nem
                csak az volt fontos számomra, hogy a munkámat maximális odafigyeléssel, precízen végezzem, hanem az is,
                hogy a megszerzett szakmai tudásomat versenyeken is kamatoztathassam. Ennek eredményeként 2014-ben a
                Magyar Ügyvédi Kamara által szervezett Országos Perbeszédverseny 3. helyezettje lettem. Három év
                bojtárkodás után 2016-ban tettem le a jogi szakvizsgát. Ezt követően egyéni ügyvédként praktizálok.
            </p>
            <hr class="uk-divider-small">
            <p>
                Fő profilomhoz tartozik a büntetőeljárásban nyújtott védelem, ugyanakkor vállalom a teljes körű jogi
                képviselet ellátását polgári peres és peren kívüli eljárások során, közreműködést gazdasági társaságok
                alapításában, átalakulásában, változás bejegyzési eljárásokban, illetve okiratok, szerződések
                szerkesztését is. A napjainkban folyamatosan megjelenő új, speciális jogterületekkel kapcsolatos
                ügyekben (pl. betegjogok, orvosi műhibaperek, környezetvédelem stb.) is igyekszem leendő ügyfeleim
                rendelkezésére állni bármilyen jogi probléma megoldásában. Hiszek abban, hogy: „Az igazság sohasem vész
                el.”

            </p>

        </div>

    </div>
</div>
<div class="uk-section uk-section">
    <div class="uk-container">
        <div class="uk-flex-middle uk-grid-margin uk-grid">
            <div class="uk-width-expand@m uk-first-column">
                <h2 class="uk-h2"> Tanulmányaim</h2>
                <div class="uk-margin-medium uk-margin-remove-top">
                    <dl class="uk-description-list uk-description-list-divider">
                        <dt> 2016.03.23.</dt>
                        <dd> Jogi szakvizsga</dd>

                        <dt> 2007-2012</dt>
                        <dd> Szegedi Tudományegyetem
                            Állam- és Jogtudományi kar
                            Jogász szak (cum laude)
                        </dd>

                        <dt> 2003-2007</dt>
                        <dd>Eötvös József Gimnázium (Szeged)
                            Anyanyelvi kommunikáció szak
                        </dd>

                        <dt> 1995-2003</dt>
                        <dd>Dugonics András Általános Iskola (Szeged)</dd>

                    </dl>
                </div>
            </div>
            <div class="uk-width-1-3@m">
                <div class="uk-margin">
                    <img src="/img/preview/img_01.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-flex-middle uk-grid-margin uk-grid">
            <div class=" uk-width-1-3@m">
                <div class="uk-margin">
                    <img src="/img/preview/img_02.jpg">
                </div>
            </div>
            <div class="uk-width-expand@m uk-first-column">

                <h2 class="uk-h2"> Eredményeim</h2>
                <div class="uk-margin-medium uk-margin-remove-top">
                    <dl class="uk-description-list">
                        <dt>Magyar Ügyvédi Kamara által szervezett Országos Perbeszédverseny</dt>
                        <dd>3. helyezés (2014)</dd>
                        <dt>Regionális (Szegedi, Békés megyei, Bács-Kiskun megyei Ügyvédi Kamara) Perbeszédverseny</dt>
                        <dd>2. helyezés (2014)</dd>
                        <dt>Szegedi Ügyvédi Kamara által szervezett Perbeszédverseny</dt>
                        <dd>2. helyezés (2014)</dd>
                        <dt>Szegedi Ügyvédi Kamara által szervezett Perbeszédverseny</dt>
                        <dd>2. helyezés (2013)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/zsuli-sec/footer :: footer"></footer>
</body>
</html>