<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-margin-left uk-navbar-left"
         uk-scrollspy="cls: uk-animation-fade; target: > ul > li; delay: 500; repeat: false">
        <ul class="uk-navbar-nav">
            <li><a href="/zsuli-index">Főoldal</a></li>
            <li><a href="/zsuli-index/bemutatkozas">Bemutatkozás</a></li>
            <li class="uk-active"><a href="/zsuli-index/szolgaltatasok">Szolgáltatások</a></li>
            <li><a href="/zsuli-index/elerhetoseg">Elérhetőség</a></li>
        </ul>
    </div>
</nav>

<footer th:replace="fragments/zsuli-sec/footer :: footer"></footer>
</body>
</html>