<footer>
    <div class="uk-section-default uk-section uk-section-large">
        <div class="uk-container uk-grid-margin">
            <div class="uk-flex-middle uk-grid" uk-grid>
                <div class="uk-width-3-4 uk-first-column">
                    <hr>
                </div>
                <div class="uk-width-expand">
                    <div class="uk-margin uk-text-right">
                        <a uk-totop class="uk-totop uk-icon" href="#uk-navbar" uk-scroll></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="uk-container uk-container-small uk-grid-margin">
            <div class="uk-flex-middle uk-grid">
                <div class="uk-width-small@m uk-first-column">
                    Logo
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-width-xlarge@m uk-text-left@m uk-text-center">
                        <ul class="uk-subnav uk-margin-remove-bottom uk-subnav-divider uk-flex-left@m uk-flex-center" uk-margin>
                            <li class="el-item uk-first-column"> Első </li>
                            <li class="el-item "> Második </li>
                            <li class="el-item"> Harmadik </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>